<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
      <div class="container">
        <form class="form-signin" action="/loginAction">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label class="sr-only">username</label>
          <input type="text" name="inputName" id="inputName" class="form-control">
          <label class="sr-only">Password</label>
          <input type="text" name="inputPwd" id="inputPwd" class="form-control">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div> <!-- /container -->
  </body>
</html>